<div class="footer">
    <div class="footer-column">
        LIÊN HỆ CHÚNG TÔI
        <div class="contact">
            <div class="contact-info">
                Địa chỉ: 490A, Điện Biên Phủ, P.21, Q.Bình Thạnh
            </div>
            <div class="contact-info">
                Email: email@gmail.com
            </div>
            <div class="contact-info">
                Hotline: 0999000000
            </div>
            <div class="contact-info">
                Facebook: fb.com/FacebookforDevelopers
            </div>
        </div>
    </div>
    <div class="footer-column">LIÊN KẾT
        <div class="contact">
            <div class="contact-info">
                Trang chủ
            </div>
            <div class="contact-info">
                Sản phẩm
            </div>
            <div class="contact-info">
                Giới thiệu
            </div>
            <div class="contact-info">
                Liên hệ
            </div>
            <div class="contact-info">
                Tin tức
            </div>
            <div class="contact-info">
                Thanh toán
            </div>
        </div>
    </div>
    <div class="footer-column">DANH MỤC SẢN PHẨM
        <div class="contact">
            <div class="contact-info">
                Áo len nữ
            </div>
            <div class="contact-info">
                Áo nữ
            </div>
            <div class="contact-info">
                Chân váy
            </div>
            <div class="contact-info">
                Danh mục 1
            </div>
            <div class="contact-info">
                Danh mục 2
            </div>
        </div>
    </div>
    <div class="footer-column">FANPAGE FACEBOOK
        <div class="contact">
            <img src="assets/images/facebook.png" alt="">
        </div>
    </div>
</div>
<div class="footer-black"><p>Urban Outfitters © – All rights reserved </p></div>