<div class="header">
    <div class="header-logo">
        <div class="logo">
            <img src="assets/images/logo1.png" alt="">
        </div>
        <div class="header-box">
            <div class="box">
                <img src="assets/images/phone.png">
                <div class="header-text">
                    <h3>HOTLINE</h3>
                    <p>099990000</p>
                </div>
            </div>
            <div class="box">
                <img src="assets/images/shiper.png">
                <div class="header-text">
                    <h3>MIỄN PHÍ GIAO HÀNG</h3>
                    <p>Tận nơi - Toàn quốc</p>
                </div>
            </div>
            <div class="box">
                <img src="assets/images/credit-card.png">
                <div class="header-text">
                    <h3>HÌNH THỨC THANH TOÁN</h3>
                    <p>Thanh toán linh động</p>
                </div>
            </div>
        </div>
        <div class="icon-header">
            <img src="assets/images/canhan.png" alt="">
            <img src="assets/images/giohang.png" class="giohang" alt="">
            <img src="assets/images/yeuthich.png" alt="">
        </div>
    </div>
    <div class="header-menu">
        <div class="menu">
            <a href="" class="item">TRANG CHỦ</a>
            <a href="#" class="item">SẢN PHẨM</a>
            <a href="gioithieu" class="item">GIỚI THIỆU</a>
            <a href="lienhe" class="item">LIÊN HỆ</a>
            <a href="tintuc" class="item">TIN TỨC</a>    
            <a href="thanhtoan" class="item">THANH TOÁN</a>
        </div>
        <div class="box-container-search">
            <div class="container-search">
                <span class="icom"><img src="assets/images/ic_search.svg" alt=""></span>
                <input type="search" placeholder="Tìm kiếm" class="text-search">
            </div>
        </div>
    </div>
</div>