<app-header></app-header>
<div class="conten">
    <img src="assets/images/slider.jpg" alt="" class="slider">
    <div class="banner">
        <img src="assets/images/bn1.png" alt="" >
        <img src="assets/images/bn2.png" alt="" >
        <img src="assets/images/bn3.jpg" alt="" >
    </div>
    <div class="conten-product">
        
        <div class="title">
            <H1>SẢN PHẨM CỦA CHÚNG TÔI</H1>
        </div>
        <div class="rows-product">
            <div class="my-product" *ngFor="let product of products">
                <a [routerLink]="'/product/' + product.id"><img [src]="'assets/images/' + product.image" alt="{{ product.name }}"></a>
                <div class="product-name">{{ product.name }}</div>
                <div class="gia-tien">{{ product.price }}</div>
                <button class="add-cart">THÊM VÀO GIỎ HÀNG</button>
            </div>
        </div>
        <!-- sản phẩm nổi bật -->
        <div class="bgr"></div>
        <div class="product-hot">
            <div class="title-product-hot">
                <H1>SẢN PHẨM NỔI BẬT</H1>
            </div>
            <div class="rows-product-hot">
                <div class="backgroud-product-hot">
                    <div class="my-product">
                        <img src="assets/images/sp2.jpg" alt="" >
                        <div class="thongtin">
                            <div class="product-name">Áo len nữ</div>
                            <div class="gia-tien">249,000 VNĐ</div>
                            <button class="add-cart">THÊM VÀO GIỎ HÀNG</button>
                        </div>
                    </div>
                    
                </div>
                <div class="backgroud-product-hot">
                    <div class="my-product">
                        <img src="assets/images/sp4.jpg" alt="" >
                        <div class="thongtin">
                            <div class="product-name">Áo len rulex cổ lửng</div>
                            <div class="gia-tien">257,000 VNĐ</div>
                            <button class="add-cart">THÊM VÀO GIỎ HÀNG</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="title">
            <H1>TIN TỨC</H1>
        </div>
        <app-conten-tintuc></app-conten-tintuc>
        <div class="spotlight">
            <img src="assets/images/spotlight.jpg" alt="" >
        </div>
    </div>
</div>
<app-footer></app-footer>