<app-header></app-header>
<div class="product-container" *ngFor="let product of product">
    <div class="product-main">
        <div class="row-conten-product" >
            <div class="product-gallery">
                <div class="small-images">
                    <img src="assets/images/sp4.jpg" alt="" class="small-images-above">
                    <img src="assets/images/sp4a.jpg" alt="" class="small-images-below">
                </div>
                <div class="big-images" >
                    <img [src]="'assets/images/' + product.image" alt="{{ product.name }}">
                </div>
            </div>
            <div class="product-infor">
                <nav class="nav-product-infor">
                    <a href="#">TRANG CHỦ</a> <span
                    class="divider">/</span> 
                    <a href="#">ÁO LEN NỮ</a>
                </nav>
                <h1 class="product-name">{{ product.name }}</h1>
                <div class="gia-tien">{{ product.price }}</div>
                <div class="warehouse">còn hàng</div>
                <div class="Product-number">
                    <button class="Product-number-button">-</button>
                    <input type="number" class="Product-number-numder" id="quantity" name="quantity" min="1" value="1">
                    <button class="Product-number-button">+</button>
                </div>
                <button class="add-cart">THÊM VÀO GIỎ HÀNG</button>
            </div>
        </div>
    </div>
    <div class="product-footer">
        <div class="tab-container">
            <div class="tab">
                <input type="radio" id="tab1" name="tab-group" checked>
                <label for="tab1">Mô Tả</label>
                <div class="tab-content">
                    <p>{{ product.description }}</p>
                </div>
            </div>
            <div class="tab">
                <input type="radio" id="tab2" name="tab-group">
                <label for="tab2">Đánh Giá</label>
                    <div class="tab-content">
                        <h3>Hãy là người đầu tiên nhận xét “Áo len rulex cổ lửng” </h3>
                        <p>đánh giá của bạn</p>
                        <!-- sao -->
                        <p>Nhận xét của bạn *</p>
                        <textarea name="comment" id="" cols="50" rows="5" placeholder="Nhận xét..."></textarea>
                        <div class="fome-comment">
                            <div class="content-name">
                                <p>Tên của bạn *</p>
                                <input class="content-name" type="text" placeholder="Nhập tên..." >
                            </div>
                            <div class="content-email">
                                <p>Email*</p>
                                <input class="content-email" type="text" placeholder="Nhập email..." >
                            </div>
                        </div>
                        <div class="fome-check">
                            <input type="checkbox">
                            <p> Lưu tên và email của tôi</p>
                        </div>
                        <div class="summit">
                            <input type="submit" value="Gửi đi">
                        </div>
                </div>
            </div>
        </div>
        <div class="title">
            <H1>SẢN PHẨM TƯƠNG TỰ</H1>
        </div>
        <div class="haha">
            <div class="rows-product" *ngFor="let product of products; let i = index">
                <div class="my-product" *ngIf="i < 4">
                    <img [src]="'assets/images/' + product.image" alt="{{ product.name }}">
                    <div class="product-name">Áo sơmi nữ dài tay thêu hình nhỏ</div>
                    <div class="gia-tien">258,000 VNĐ</div>
                    <button class="add-cart">THÊM VÀO GIỎ HÀNG</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>