<app-header></app-header>
<div class="thanhtoan">
    <h1>THANH TOÁN</h1>
    <div class="diachi">
        <h2>Địa chỉ nhận hàng</h2>
        <p>Số 2 ngõ 378 Mỹ Đình Hà Nội</p>
    </div>
    <div class="rows">
        <div class="rows-product">
            <img src="assets/images/sp2.jpg" alt="" >
            <div class="product-infor">
                <h2 class="product-name">Áo len rulex cổ lửng</h2>
                <div class="gia-tien">249,000 VNĐ</div>
                <div class="Product-number">
                    <button class="Product-number-button">-</button>
                    <input type="number" class="Product-number-numder" id="quantity" name="quantity" min="1" value="1">
                    <button class="Product-number-button">+</button>
                </div>
            </div>
        </div>
        <div class="rows-product">
            <img src="assets/images/sp3.jpg" alt="" >
            <div class="product-infor">
                <h2 class="product-name">Áo len rulex cổ lửng</h2>
                <div class="gia-tien">249,000 VNĐ</div>
                <div class="Product-number">
                    <button class="Product-number-button">-</button>
                    <input type="number" class="Product-number-numder" id="quantity" name="quantity" min="1" value="1">
                    <button class="Product-number-button">+</button>
                </div>
            </div>
        </div>
    </div>
    <div class="giatien-xoadon">
        <div class="giatien">Tổng cộng: 516,000 đ</div>
    </div>
    <div class="ptthanhtoan">
        <h3>Chọn phương thức thanh toán</h3>
    </div>
    <div class="fome-check">
        <input type="checkbox">
        <h4> Thanh toán bằng tiền mặt</h4>
    </div>
    <div class="ptthanhtoan">
        <h3>Ghi chú</h3>
        <textarea name="comment" id="" cols="120" rows="3" placeholder="Ghi chú..."></textarea>
    </div>
    <div class="summit">
        <input type="submit" value="THANH TOÁN">
    </div>
</div>
<app-footer></app-footer>
