<app-header></app-header>
<div class="tintuc">
    <div class="rows-news">
        <div class="my-news">
            <img src="assets/images/tintuc1.jpg" alt="" width="300px" height="170px">
            <div class="title-news">
                <div class="conten-news">Hướng dẫn bước đi trên giày cao gót đúng cách</div>
            <div class="all-my-news">Giày cao gót là người bạn tốt nhất để đồng hành cùng một cô gái trên từng bước đi tự tin và thu hút. Tuy nhiên, đi giày cao gót đôi khi cũng gặp một chút khó khăn, nhất là với những người chưa bao giờ đi qua. Đừng lo, học đi một cách thuần [...]</div>
            </div>
        </div>
        <div class="my-news">
            <img src="assets/images/tintuc1.jpg" alt="" width="300px" height="170px">
            <div class="title-news">
                <div class="conten-news">Hướng dẫn bước đi trên giày cao gót đúng cách</div>
            <div class="all-my-news">Giày cao gót là người bạn tốt nhất để đồng hành cùng một cô gái trên từng bước đi tự tin và thu hút. Tuy nhiên, đi giày cao gót đôi khi cũng gặp một chút khó khăn, nhất là với những người chưa bao giờ đi qua. Đừng lo, học đi một cách thuần [...]</div>
            </div>
        </div>
        <div class="my-news">
            <img src="assets/images/tintuc1.jpg" alt="" width="300px" height="170px">
            <div class="title-news">
                <div class="conten-news">Hướng dẫn bước đi trên giày cao gót đúng cách</div>
            <div class="all-my-news">Giày cao gót là người bạn tốt nhất để đồng hành cùng một cô gái trên từng bước đi tự tin và thu hút. Tuy nhiên, đi giày cao gót đôi khi cũng gặp một chút khó khăn, nhất là với những người chưa bao giờ đi qua. Đừng lo, học đi một cách thuần [...]</div>
            </div>
        </div>
    </div>
    <div class="conten-tintuc-new">
        <div class="box-container-search">
            <div class="container-search">
                <span class="icom"><img src="assets/images/ic_search.svg" alt=""></span>
                <input type="search" placeholder="Tìm kiếm" class="text-search">
            </div>
        </div>
        <div class="new">
            <div class="conten-news">Bài viết mới</div>
            <div class="boder-button">Hướng dẫn bước đi trên giày cao gót đúng cách</div>
            <div class="boder-button">5 cách làm đẹp bằng nha đam tươi hiệu quả</div>
            <div class="boder-button">Giảm mỡ bụng nhanh chóng nhất</div>
            <div class="conten-news">Phản hồi gần đây</div>
        </div>
    </div>
</div>
<app-footer></app-footer>
