<app-header></app-header>
<div class="thanhtoan" >
    <h1>Giỏ hàng</h1>
    <div class="giatien-xoadon">
        <div class="giatien">Tổng cộng: {{getTotal()}} VNĐ</div>
        <div class="xoadon">Xóa đơn hàng</div>
    </div>
    <div class="rows">
        <div class="rows-product" *ngFor="let product of cartItems">
            <img [src]="'assets/images/' + product.image" alt="{{ product.name }}">
            <div class="product-infor">
                <h2 class="product-name">{{ product.name }}</h2>
                <div class="gia-tien">{{ product.price }} VNĐ</div>
                <div class="Product-number">
                    <button class="Product-number-button">-</button>
                    <input type="number" class="Product-number-numder" id="quantity" name="quantity" min="1" value="1">
                    <button class="Product-number-button">+</button>
                </div>
            </div>
        </div>
    </div>
    <div class="summit">
        <a href="thanhtoangiaohang"><input type="submit" value="THANH TOÁN"></a>
    </div>
</div>
<app-footer></app-footer>
