.title-product-portfolio{
    max-width: 1120px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.home-product {
    max-width: 1120px;
   display: flex; 
}
.home{
    color: #7e7e7e;
}

.show-display{
    margin-right: 20px;
}
.display{
    display: flex;
    font-size: 18px;
    line-height: 67px;
}
select.orderby {
    height: 30px;
}
.body-product-portfolio{
    max-width: 1120px;
    margin: auto;
    margin-bottom: 20px;
}
.product-portfolio{
    max-width: 280px;
}
.product-portfolio p {
    font-size: 18px;
    border-bottom: 1px solid;
}
.product{
    max-width: 840px;
    margin: auto;
}
.body-product-portfolio{
    display: flex;
}
.rows-product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.product-name{
    font-size: 16px;
    padding-top: 10px;
}
.gia-tien{
    font-size: 16px;
    color: #FF0000;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
}
button.add-cart {
    height: 30px;
    background-color: #ffff;
    border: 2px solid #834453;
    line-height: 25px;
    color: #834453;
    font-weight: 700;
}
button.add-cart:hover{
    background-color: #834453;
    color: #FFFF;
}

/* tìm kiếm */
.box-container-search{
    max-width: 150px;
    width: 100%;
    height: 38px;
    border-radius: 100px;
    background: var(--blue-gray-100, #F1F5F9);
    position: relative;
    margin-top: 15px;
}
.container-search input{
    max-width: 150px;
    width: 100%;
    height: 38px;
    border: none;
    border-radius: 100px;
    background: var(--blue-gray-100, #F1F5F9);
    margin-left: 44px;
    
}
.text-search{
    color: var(--64748-b, #64748B);
    font-family: SVN-Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container-search input#search{
    vertical-align: middle;
    white-space: nowrap;
}
.container-search input:focus {
    outline: none;
 }
.container-search .icom{
    position: absolute;
    margin: 7px 0px 7px 13px;
}