<app-header></app-header>
<div class="title-product-portfolio">
    <div class="home-product">
        <h3 class="home">TRANG CHỦ / </h3>
        <h3>ÁO LEN NỮ</h3>
    </div>
    <div class="box-container-search">
        <div class="container-search">
            <span class="icom"><img src="assets/images/ic_search.svg" alt=""></span>
            <input type="text" placeholder="Tìm kiếm" class="text-search" (input)="onSearchInput($event)">
        </div>
    </div>
    <div class="display">
        <div class="show-display">Hiển thị tất cả 3 kết quả</div>
        <form class="fomr" method="get">
            <select name="orderby" class="orderby" aria-label="Đơn hàng của cửa hàng">
                <option value="menu_order" selected="selected">Thứ tự mặc định</option>
                <option value="popularity">Mức độ phổ biến</option>
                <option value="rating">Theo điểm đánh giá</option>
                <option value="date">Mới nhất</option>
            </select>
            <input type="hidden" name="paged" value="1">
        </form>
    </div>
</div>
<div class="body-product-portfolio">
    <div class="product-portfolio">
        <h3>DANH MỤC SẢN PHẨM</h3>
        <p>Áo len nữ</p>
        <p>Áo nữ</p>
        <p>Chân váy</p>
    </div>
    <div class="product">
        <div class="rows-product">
            <div class="my-product" *ngFor="let product of filteredProducts">
                <a [routerLink]="'/product/' + product.id"><img [src]="'assets/images/' + product.image" alt="{{ product.name }}"></a>
                <div class="product-name">{{ product.name }}</div>
                <div class="gia-tien">{{ product.price }}  VNĐ</div>
                <button class="add-cart">THÊM VÀO GIỎ HÀNG</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>