<app-header></app-header>
<div class="lienhe">
    <h1>LIÊN HỆ</h1>
    
    <h2>SASSYCHIC - THỜI TRANG PHỤ NỮ</h2>
    <div>SassyChic chuyên bán quần áo phụ nữ online với hàng ngàn mẫu mã để quý khách lựa chọn.</div>
    <div>Hãy đặt hàng online để được hưởng nhiều ưu đãi hơn tại siêu thị SassyChic.</div>
    <div>Chọn mua ngay các mẫu quần áo phụ nữ mới nhất trong danh mục.</div>

    <h2>THÔNG TIN LIÊN HỆ</h2>
    <div class="bow"><h3>Hotline:</h3> <p>0999.000.000</p></div>
    <div class="bow"><h3>Zalo:</h3> <p>fb.com/FacebookforDevelopers</p></div>
    <div class="bow"><h3>Facebook:</h3> <p>fb.com/FacebookforDevelopers</p></div>
    <div class="cach"></div>
    <h2>GOOGMAP</h2>
    <img src="/assets/images/ggmap.png" alt="" height="300px">
</div>
<app-footer></app-footer>
